body {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(49, 42, 97));
    
    

}
.auth{
    padding-top: 3%;
    width: 35%;
    
    
    
}

form{
    display: flex;
    position: relative;
    flex-direction: column;
    border: darkslateblue solid 3px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(31, 30, 30);
    box-shadow: slateblue 0px 0px 15px;
    
    
}

input{
    margin: 1%;
    border: darkslateblue solid 1px;
    box-shadow: slateblue 0px 0px 10px;
    background-color: darkslateblue;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    color: white;
    
}

p{
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 30px;
    font-family: monospace;
    color: rgb(154, 140, 245);
    text-shadow: slateblue 0px 0px 10px;
   
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: slateblue 0px 0px 10px;
    font-family: monospace;
    border: solid darkslateblue 3px;
    background-color: rgb(31, 30, 30);
    box-shadow: slateblue 0px 0px 15px;
    
}

.btn{
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 50%;
    font-size: large;
    box-shadow: black 0px 0px 5px;
    
}

.er{
    font-family: monospace;
    color: rgb(154, 140, 245);
    text-shadow: slateblue 0px 0px 10px;
    padding-bottom: 50px;
    border-bottom: 0px solid white;
}

.btnQ{
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-bottom: 10%;
    width: 50%;
    font-size: x-large;
    box-shadow: black 0px 0px 5px;
    
}

.btn:hover{
    background-color: slateblue;

}

.btnQ:hover{
    background-color: slateblue;

}